<li>
    <p><%= event.date %></p>
    <h6>Updated at: <%= event.updated_at %></h6>
    <h6>Creator: <%= event.user.name %></h6>
    <% if @logged_in %>
        <h6><%= User.find_by(id: event.user_id).name %></h6>
        <div class="attendees">
            <h1>Attendees</h1>
            <% if @attendees %>
                <% @attendees.each do |attendee|%>
                  <%= attendee.name %>
                <%end%>
            <% else %>
                <h1>No attendees yet!</h1>
            <% end %>

            <%= form_for(@current_user.attendances.build) do |f| %>
              <%= hidden_field_tag :event_id, event.id %>
              <%= f.submit 'Attend' %>
            <% end %>
        </div>
    <% end %>
<li>
