<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li> <%= link_to "Events", events_path %> </li>
        <% if @logged_in %>
            <li><%= link_to "Create Event", events_new_path %></li>
            <li><%= link_to "Go to Profile", user_path(@current_user) %></li>
            <li> <%= link_to 'Sign Out', logout_path, :method => :delete %> </li>
        <% else %>
            <li> <%= link_to "Sign Up", signup_path %> </li>
            <li> <%= link_to "Sign In", login_path %> </li>
        <%end%>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
